/* Index Styling */

body.index {
  background: linear-gradient(to bottom, #0fd5b1, #4bd0fa);
  margin: 0; /* Remove default margin */
  height: 100vh; /* Full height */
  display: flex; /* Center items */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Center text inside buttons */
  flex-direction: column; /* Keep image above buttons */
}

.index_buttons {
  margin-top: 20px;
  display: flex; /* Use flex to align buttons side by side */
  justify-content: center; /* Center buttons horizontally */
}

.index_btn {
  display: inline-block;
  margin: 10px; /* Adjust margin as needed */
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.index_btn:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.seal {
  max-width: 100%; /* Responsive image */
  height: auto; /* Maintain aspect ratio */
}
/* Register Styling */
body.register {
  min-height: 100vh; /* Full viewport height */
  background: linear-gradient(45deg, #0fd5b1, #4bd0fa);
  background-attachment: fixed; /* Ensure background stays in place during scroll */
  background-size: cover; /* Ensure background covers the entire page */
}

/* Login Styling */

body.login {
  background: linear-gradient(to bottom, #0fd5b1, #4bd0fa);
  height: 100vh;
}

.login_btn,
.register_btn {
  background: linear-gradient(to bottom, #0fd5b1, #4bd0fa);
  border-radius: 10px;
  width: 150px;
  height: 40px;
  margin: 0 auto;
}

.card.history-card,
.card.services-card,
.card.summary-card {
  background: linear-gradient(to bottom, #0fd5b1, #4bd0fa);
}
